Repository jho951/FrontEnd, changes with the labels that .github/labeler.yml gives for each.
All labels: style, build

fix: prettier check
  public/feed.xml
  src/features/i18n/locales/en/common.json
Labels: none

fix: locale 호환 에러 수정
  detectLocale.ts
  eslint.config.mjs
  i18n-config.ts
  isSupportedLocale.ts
  middleware.ts
  package-lock.json
  package.json
  public/feed.xml
  src/app/[locale]/edit/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/editor/MarkdownEditor.tsx
Labels: style, build

Update README.md
  README.md
Labels: none

chore: setup husky hooks
  .husky/pre-commit
Labels: none

test: husky 테스트
  components/common/editor/MarkdownEditor.tsx
  features/edit/EditPage.tsx
Labels: style, build

test: husky 테스트
  features/edit/EditPage.tsx
Labels: style, build

feat: feed 설정
  libs/index.ts
  libs/rss.ts
Labels: style, build

style: 마크다운 에디터 반응형 적용
  app/[lang]/[[...slugs]]/page.tsx
  app/layout.tsx
  components/common/editor/MarkdownEditor.tsx
  public/rss.xml
  styles/editor/MarkdownEditor.module.css
  styles/global/class.css
  styles/global/font.css
  styles/global/reset.css
  styles/global/theme.css
  types/project/page.ts
Labels: style, build

feat: 마크 다운 에디터 미리보기 모달 생성
  components/common/editor/MarkdownEditor.tsx
  components/common/editor/PreviewModal.tsx
  features/edit/EditPage.tsx
  package-lock.json
  package.json
  public/rss.xml
  styles/editor/MarkdownEditor.module.css
  styles/editor/PreviewModal.module.css
  styles/features/EditPage.module.css
  types/editor/markdownEditor.ts
  types/editor/previewModal.ts
Labels: style, build

fix: 빌드 에러 수정
  components/common/editor/PreviewModal.tsx
  types/index.ts
Labels: style, build

fix: 빌드 에러 수정
  hooks/useAutoSave.ts
Labels: style, build

Update README.md
  README.md
Labels: none

feat: rss 피드 생성
  libs/generate-rss.ts
  public/rss.xml
Labels: style, build

fix: build 에러 수정
  assets/icons/arrow.svg
  assets/icons/gitHub.svg
  assets/icons/globe.svg
  assets/icons/logo.svg
  assets/icons/moon.svg
  assets/icons/rss.svg
  assets/icons/sun.svg
  assets/locales/en.ts
  assets/locales/ko.ts
  components/common/icon/Icon.tsx
  libs/get-translation.ts
  public/rss.xml
Labels: style, build

fix: 아이콘 타입 인식 에러 수정
  public/rss.xml
  types/icon/svg.d.ts
Labels: style, build

fix: eslint 8버전으로 다운그레이드
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  public/rss.xml
Labels: style

fix: eslint 규칙 근거 수정
  components/common/banner/AdBanner.tsx
  public/rss.xml
Labels: style, build

fix: 서버 언어 고침 오류 수정
  app/[lang]/layout.tsx
  components/common/select/Select.tsx
  components/layout/footer/Footer.tsx
  components/layout/footer/FooterSns.tsx
  components/layout/wrapper/ClientLayoutWrapper.tsx
  constants/language.ts
  libs/cookie.ts
  libs/get-server-current-language.ts
  middleware.ts
  public/rss.xml
  types/index.ts
  types/select/languageOption.ts
  types/select/select.ts
  types/select/selectOption.ts
Labels: style, build

docs: gitignore 수정
  .gitignore
Labels: none

chore: remove .next/cache from git tracking
  .gitignore
Labels: none

Delete: dist 파일
  dist/libs/generate-rss.js
  dist/libs/generateFeed.js
  dist/libs/post.js
  dist/types/feed.js
Labels: none

fix: gitignore
  .gitignore
  public/rss.xml
Labels: none

fix: tsconfig
  public/rss.xml
  tsconfig.json
Labels: none

fix: 아이콘 경로 수정
  components/common/icon/Icon.tsx
  public/rss.xml
Labels: style, build

refactor: icon 유틸 분리
  components/common/icon/Icon.tsx
  libs/getIcon-component.ts
  public/rss.xml
Labels: style, build

fix: icon
  libs/getIcon-component.ts
  package.json
  public/rss.xml
  tsconfig.json
  types/global.d.ts
Labels: style, build

chore: git secret key 추기
  .github/workflows/release-please.yml
Labels: none

feat: 라우팅 인터셉트 모달 생성
  app/[lang]/@modal/default.tsx
  app/[lang]/@modal/legal/[slug]/page.tsx
  app/[lang]/[[...slugs]]/page.tsx
  app/[lang]/edit/page.tsx
  app/[lang]/generateStaticParams.ts
  app/[lang]/layout.tsx
  app/[lang]/legal/page.tsx
  app/[lang]/page.tsx
  app/layout.tsx
  constants/link.ts
  features/edit/EditPage.tsx
  features/legal/LegalPage.tsx
  libs/getIcon-component.ts
  middleware.ts
  package-lock.json
  public/site.webmanifest
  styles/features/LegalModal.module.css
  types/icon.ts
  types/page.ts
Labels: style, build

feat: 404 페이지 생성
  app/(default)/layout.tsx
  app/(default)/not-found.tsx
  libs/seo/meta-data.ts
  package.json
Labels: style, build

feat: 404 페이지 생성
  libs/rss/generate.ts
Labels: style, build

feat: 404 페이지 생성
  libs/rss/generate.ts
Labels: style, build

feat: 404 페이지 생성
  libs/rss/generate.ts
Labels: style, build

feat: 모달 인터셉트 구조 생성
  app/(default)/@modal/deault.tsx
  app/(default)/@modal/legal/[slug]/not-found.tsx
  app/(default)/@modal/legal/[slug]/page.tsx
  app/(default)/legal/[slug]/page.tsx
  public/rss.xml
Labels: style, build

refactor: 미들웨어 설정
  app/(default)/@modal/deault.tsx
  app/(default)/layout.tsx
  app/[lang]/layout.tsx
  app/[lang]/not-found.tsx
  app/[lang]/page.tsx
  components/layout/header/Header.tsx
  components/layout/header/MobileNav.tsx
  features/layout/DefaultLayout.tsx
  middleware.ts
Labels: style, build

feat: modal 구성
  app/(default)/posts/page.tsx
  app/@modal/posts/[id]/page.tsx
  app/layout.tsx
  components/common/animation/DropdownWrapper.tsx
  public/rss.xml
  types/page.ts
Labels: style, build

fix: svg 타입 전역 설정
  next.config.ts
  public/rss.xml
  types/svg.d.ts
Labels: style, build

fix: build 에러 수정
  .eslintrc.cjs
  libs/rss/generate.ts
  package-lock.json
  package.json
  public/rss.xml
  tsconfig.json
Labels: style, build

fix: build 에러 수정
  libs/rss/generate.ts
Labels: style, build

fix: build 에러 수정
  package.json
Labels: none

fix: build 에러 수정
  libs/rss/generate.ts
Labels: style, build

.github/labeler.yml:

style:
  - '**/*.css'
  - '**/*.ts'
  - '**/*.tsx'
  - .eslintrc*
  - .prettierrc*

build:
  - '**/*.ts'
  - '**/*.tsx'
  - next.config.js
