Repository jho951/FrontEnd, changes with the labels that .github/labeler.yml gives for each.
All labels: style, build

eslint 설정
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
Labels: style

chore: husky 적용
  .vscode/settings.json
  package-lock.json
  package.json
Labels: none

chore: 커밋 형태 지정
  .commitlintrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  release.config.js
Labels: none

feat: 다크 모드 버튼 생성
  src/component/button/ ThemeButton/ThemeButton.module.css
  src/component/button/ ThemeButton/ThemeButton.tsx
  src/util/useDarkMode.ts
Labels: style, build

feat: 다크모드 여부 시 버튼 색 변경
  src/app/layout.tsx
  src/component/button/ ThemeButton/ThemeButton.module.css
  src/component/button/ ThemeButton/ThemeButton.tsx
  src/component/button/themeButton/ThemeButton.module.css
  src/component/button/themeButton/ThemeButton.tsx
  src/component/icon/MoonIcon.tsx
  src/component/icon/SunIcon.tsx
  src/context/ThemeContext.tsx
Labels: style, build

feat: 다크모드 전역관리
  .github/ISSUE_TEMPLATE/style.yml
  src/app/layout.tsx
  src/style/globalStyle.css
  src/style/reset.css
  src/style/theme.css
  src/util/useDarkMode.ts
Labels: style, build

feat: 다크모드 자동화 적용
  src/app/layout.tsx
  src/context/ThemeContext.tsx
  src/style/globalStyle.css
Labels: style, build

feat: husky 적용
  src/app/layout.tsx
  src/app/page.tsx
Labels: style, build

test: husky
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/context/ThemeContext.tsx
Labels: style, build

feat: 모바일 , pc 헤더 생성
  src/app/layout.tsx
  src/component/layout/header/Header.module.css
  src/component/layout/header/Header.tsx
  src/component/layout/header/MobileMenu.module.css
  src/component/layout/header/MobileMenu.tsx
Labels: style, build

feat: 헤더 ui 적용중
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/button/hamburger/HamburgerButton.module.css
  src/button/hamburger/HamburgerButton.tsx
  src/button/theme/ThemeButton.module.css
  src/button/theme/ThemeButton.tsx
  src/component/layout/header/Header.module.css
  src/component/layout/header/Header.tsx
  src/component/layout/header/MobileMenu.module.css
  src/component/layout/header/MobileMenu.tsx
  src/global/component/icon/LogoIcon.tsx
  src/global/component/icon/MoonIcon.tsx
  src/global/component/icon/SunIcon.tsx
  src/global/component/logo/Logo.module.css
  src/global/component/logo/Logo.tsx
  src/global/context/ThemeContext.tsx
  src/global/style/globalStyle.css
  src/global/style/reset.css
  src/global/style/theme.css
  src/global/util/useBodyScrollLock.tsx
  src/global/util/useDarkMode.ts
  src/header/component/Header.tsx
  src/header/component/HeaderActions.tsx
  src/header/component/HeaderNav.tsx
  src/header/component/MobileMenu.tsx
  src/header/constant/HeaderConstant.ts
  src/header/style/Header.module.css
  src/header/style/HeaderActions.module.css
  src/header/style/HeaderNav.module.css
  src/header/style/MobileMenu.module.css
  src/header/util/throttle.ts
  src/header/util/useScrollDirection.tsx
Labels: style, build

Update README.md
  README.md
Labels: none

feat: 스크롤 시 투명화
  src/header/component/Header.tsx
  src/header/component/MobileHeaderButton.tsx
Labels: style, build

feat: 헤더 스타일 확정
  src/app/page.tsx
  src/global/component/wrapper/ClientLayoutWrapper.tsx
  src/header/component/Header.tsx
  src/header/component/HeaderWrapper.tsx
Labels: style, build

feat: 모바일 환경 헤더 드롭다운 시 백그라운드 블러 처리
  src/global/util/useScrollLock.ts
  src/header/component/Header.tsx
  src/header/component/HeaderWrapper.tsx
  src/header/style/Header.module.css
  src/header/style/MobileDropBox.module.css
Labels: style, build

fix: 경고 수정
  src/global/style/globalStyle.css
  src/header/style/Header.module.css
  src/header/style/HeaderNav.module.css
  src/header/style/MobileDropBox.module.css
  src/header/style/MobileHeaderButton.module.css
Labels: style

fix: prettier 체크
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .prettierrc
  .vscode/settings.json
  next.config.ts
  src/app/layout.tsx
Labels: style, build

feat: adsense 헤더 추가
  src/banner/component/AdBanner.tsx
  src/banner/style/AdBanner.module.css
  src/header/style/Header.module.css
  src/header/style/HeaderWrapper.module.css
  src/layout/component/HeaderWrapper.tsx
  src/layout/style/HeaderWrapper.module.css
Labels: style, build

feat: font 적용
  public/ font/Pretendard-Regular.woff2
  src/app/layout.tsx
  src/banner/component/AdBanner.tsx
  src/banner/style/AdBanner.module.css
  src/global/component/wrapper/ClientLayoutWrapper.tsx
  src/global/style/globalStyle.css
  src/header/component/Header.tsx
  src/header/style/Header.module.css
  src/header/type/HeaderType.ts
  src/layout/component/HeaderWrapper.tsx
  src/layout/style/HeaderWrapper.module.css
Labels: style, build

feat: 메타데이터 적용
  public/apple-touch-icon.png
  public/favicon.ico
  public/site.webmanifest
  src/app/favicon.ico
  src/app/layout.tsx
  src/global/constant/metadata.ts
Labels: style, build

feat: skipnavigation 기능 추가
  src/global/component/wrapper/ClientLayoutWrapper.tsx
  src/navigate/component/AccessibleNav.tsx
  src/navigate/component/SkipNav.tsx
  src/navigate/constant/navItem.ts
  src/navigate/style/AccessibleNav.module.css
  src/navigate/style/SkipNav.module.css
Labels: style, build

feat: 헤더 광고 컴퍼넌트 추가 레이아웃 구성
  src/app/layout.tsx
  src/components/layout/header/ClientLayoutWrapper.tsx
  src/components/layout/header/HeaderWrapper.tsx
Labels: style, build

feat: 스크롤 시 사라지는 효과
  src/components/layout/header/HeaderNav.tsx
Labels: style, build

fix: ci 에러 해결 path 수정
  tsconfig.json
Labels: none

fix: icon 타입 인식 오류
  src/components/common/icon/Icon.tsx
  src/types/icon.ts
Labels: style, build

fix: icon 경로 및 타입 인식 에러 해결
  src/types/svg.d.ts
  src/types/window.d.ts
Labels: style, build

feat: header 자식 요소 추가
  src/app/layout.tsx
  src/asserts/arrow.svg
  src/components/common/accessibility/MobileNav.tsx
  src/components/common/accessibility/PcNav.tsx
  src/components/common/accessibility/SkipNav.tsx
  src/components/common/animation/DropdownAnimate.tsx
  src/components/common/icon/Icon.tsx
  src/components/layout/footer/Footer.tsx
  src/components/layout/header/ClientLayoutWrapper.tsx
  src/components/layout/header/Header.tsx
  src/components/layout/header/Logo.tsx
  src/components/layout/header/MobileDropBox.tsx
  src/components/layout/header/MobileHeaderButton.tsx
  src/components/layout/wrapper/ClientLayoutWrapper.tsx
  src/components/layout/wrapper/HeaderWrapper.tsx
  src/constants/link.ts
  src/constants/project.ts
  src/hooks/index.ts
  src/hooks/useDevice.ts
  src/hooks/useScrollDirection.ts
  src/hooks/useScrollY.ts
  src/hooks/useScrolled.ts
  src/styles/accessibility/MobileNav.module.css
  src/styles/accessibility/PcNav.module.css
  src/styles/accessibility/SkipNav.module.css
  src/styles/footer/Footer.module.css
  src/styles/global.css
  src/styles/header/Header.module.css
  src/styles/header/Logo.module.css
  src/styles/header/MobileDropBox.module.css
  src/styles/header/MobileHeaderButton.module.css
  src/types/banner.ts
  src/types/icon.ts
Labels: style, build

feat: footer 구성 요소 적용
  src/components/common/accessibility/FooterNav.tsx
  src/components/common/accessibility/FooterSns.tsx
  src/components/layout/footer/Footer.tsx
  src/constants/link.ts
  src/styles/footer/Footer.module.css
  src/types/footer.ts
  src/types/index.ts
Labels: style, build

feat: footer 아이콘 적용
  package-lock.json
  package.json
  public/font/Pretendard-Regular.woff2
  public/icon/file.svg
  public/icon/globe.svg
  public/icon/next.svg
  public/icon/vercel.svg
  public/icon/window.svg
  public/rss.xml
  src/app/layout.tsx
  src/app/page.tsx
  src/asserts/gitHub.svg
  src/asserts/rss.svg
  src/components/common/accessibility/FooterNav.tsx
  src/components/common/accessibility/FooterSns.tsx
  src/components/common/banner/AdBanner.tsx
  src/components/common/icon/Icon.tsx
  src/components/layout/script/CustomScript.tsx
  src/components/layout/script/generate-rss.ts
  src/constants/project.ts
  src/hooks/useAdsense.ts
  src/libs/generateFeed.ts
  src/libs/post.ts
  src/script/constant/secret.ts
  src/styles/accessibility/FooterNav.module.css
  src/styles/accessibility/FooterSns.module.css
  src/styles/footer/Footer.module.css
  src/types/icon.ts
Labels: style, build

feat: rss 적용
  src/app/layout.tsx
  src/asserts/globe.svg
  src/components/common/accessibility/FooterNav.tsx
  src/components/common/accessibility/FooterSns.tsx
  src/components/common/accessibility/MobileNav.tsx
  src/components/common/icon/Icon.tsx
  src/components/common/select/Select.tsx
  src/components/script/AdsenseScript.tsx
  src/components/script/RssScript.tsx
  src/components/script/generate-rss.ts
  src/constants/auth.ts
  src/constants/index.ts
  src/constants/language.ts
  src/constants/link.ts
  src/constants/project.ts
  src/styles/accessibility/FooterSns.module.css
  src/styles/footer/Footer.module.css
  src/styles/select/Select.module.css
  src/styles/theme.css
  src/types/footer.ts
  src/types/icon.ts
  src/types/select.ts
Labels: style, build

feat: 다국어 기능 추가
  package-lock.json
  package.json
Labels: none

feat: 다국어 설정 적용
  next-i18next.config.js
  next.config.ts
Labels: style, build

test: rss xml 적용 및 생성
  package-lock.json
  package.json
  posts/http-vs-rest.md
  public/feed.xml
  register-esbuild.js
  src/app/layout.tsx
  src/components/script/generate-rss.ts
  src/libs/generate-rss.ts
  src/libs/generateFeed.ts
  src/scripts/AdsenseScript.tsx
  src/scripts/RssScript.tsx
  src/types/feed.ts
  src/types/index.ts
  tsconfig.json
Labels: style, build

fix: rss 설정 후 빌드 에러 수정
  dist/libs/generate-rss.js
  dist/libs/generateFeed.js
  dist/libs/post.js
  dist/types/feed.js
  package-lock.json
  package.json
  public/feed.xml
  src/libs/generate-rss.ts
  src/libs/generateFeed.ts
  src/libs/post.ts
  tsconfig.json
Labels: style, build

fix: rss 설정 후 빌드 에러 수정
  dist/libs/generate-rss.js
  dist/libs/generateFeed.js
  public/feed.xml
  src/libs/generate-rss.ts
  src/libs/generateFeed.ts
  tsconfig.json
Labels: style, build

fix: style ci 수정
  tsconfig.json
Labels: none

fix : ci
  .github/workflows/ci.yml
  dist/libs/generate-rss.js
  eslint.config.js
  eslint.config.mjs
  next-i18next.config.js
  next.config.ts
  package-lock.json
  package.json
  public/feed.xml
  release.config.js
  src/components/common/animation/DropdownAnimate.tsx
  src/components/common/button/Button.tsx
Labels: style, build

feat: 다국어 설정 미들웨어
  middleware.ts
  src/app/[locale]/page.tsx
Labels: style, build

feat:다국어 서버 클라이언트 적용
  i18n-config.ts
  middleware.ts
  next-i18next.config.js
  public/feed.xml
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.module.css
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/button/ThemeButton.tsx
  src/components/layout/wrapper/ClientLayoutWrapper.tsx
  src/context/TranslationContext.tsx
  src/context/index.ts
  src/features/i18n/locales/en/common.json
  src/features/i18n/locales/ko/common.json
  src/features/i18n/server.ts
  src/features/i18n/serverTranslator.ts
  src/types/index.ts
  src/types/page.ts
Labels: style, build

feat: layout 높이에 맞게 main 내용 위치 조정
  i18n-config.ts
  middleware.ts
  public/feed.xml
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.module.css
  src/app/[locale]/page.tsx
  src/components/layout/wrapper/HeaderWrapper.tsx
  src/styles/global.css
  src/types/page.ts
  tsconfig.json
Labels: style, build

.github/labeler.yml:

style:
  - '**/*.css'
  - '**/*.ts'
  - '**/*.tsx'
  - .eslintrc*
  - .prettierrc*

build:
  - '**/*.ts'
  - '**/*.tsx'
  - next.config.js
